#Ignore everything
**/*Debug*/**
**/*Release*/**

*.txt
*.mk
*.list
*.db
**/.build*/**
**/.codelite*/**
**/Makefile
*.prefs
*.bak
**/work/*



#Whitelist subdirectories
#*.project
#*.cproject
#ignore temp files
*~


