#Ignore everything
**/*Debug*/**
**/*Release*/**

*.txt
*.mk
*.list
*.db
**/.build*/**
**/.codelite*/**
**/Makefile
*.prefs
*.bak
**/work/*

**/quartus/incremental_db*
**/quartus/output_files*
**/quartus/db*


#Whitelist subdirectories
#*.project
#*.cproject
#ignore temp files
*~



